<div class="container">
    <div class="row">
        <div class="col-sm-4 col-4 offset-3">
            <div class="card">
                <div class="card-header text-center">
                    <p style="font-weight: 700;">Aca vemos el detalle de una obra de una funcion!</p>
                </div>
                <div class="card-body">
                    <ul>
                        <li>{{obra.id}}</li>
                        <li>{{obra.nombre}}</li>
                    </ul>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary" [routerLink]="['/home']"> Volver al Inicio</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-12">
            <mgl-map [style]="style" [zoom]="[2]">
                <mgl-marker [lngLat]="[-75.551012,10.421185]">
                    <div onclick="alert('hola')" class="marker">
                        Hola mundo!
                    </div>
                </mgl-marker>
            </mgl-map>
        </div>

    </div>
</div>