<form [formGroup]="fg" (ngSubmit)="guardar( fg.controls['nombre'].value, fg.controls['url'].value, fg.controls['descripcion'].value)">

    <div class="form-group">
        <label for="nombre">Nombre *</label>
        <input type="text" class="form-control" id="nombre" placeholder="Ingresar nombre..." [formControl]="fg.controls['nombre']">
        <small>Nombre del titulo de la obra</small>
        <div class="ml-4 mt-2 btn btn-warning" *ngIf="fg.controls['nombre'].hasError('required')">nombre requerido!</div>
        <div class="ml-4 mt-2 btn btn-danger" *ngIf="fg.controls['nombre'].hasError('pattern')">nombre invalido! no se admiten numeros en el texto!</div>
        <div class="ml-4 mt-2 btn btn-danger" *ngIf="fg.controls['nombre'].hasError('minLongNombre')">nombre debe tener al menos {{minLongitud}} de largo!</div>
    </div>
    <div class=" form-group ">
        <label for="Imagen Url ">Imagen	Url</label>
        <input type="text " class="form-control " id="imagenUrl " placeholder="Ingresar url... " [formControl]="fg.controls['url']">
    </div>
    <div class="form-group">
        <label for="descripciones ">Descripcion *</label>
        <input type="text " class="form-control " id="descripciones " placeholder="Ingresar descripcion... " [formControl]="fg.controls['descripcion']">
        <small>es recomendable que ingrese una descripcion simple, clara y precisa</small>
        <div class="ml-4 mt-2 btn btn-warning" *ngIf="fg.controls['descripcion'].hasError('required')">descripcion requerida!</div>
    </div>
    <div class=" form-group ">
        <form>
            <label for="descripciones ">Etiquetas</label>
            <select class="form-control " name="select " [(ngModel)]="selectedTag">
                <option *ngFor="let etiq of etiquetas ">{{etiq}}</option> 
            </select>
            <small>este campo es opcional</small>
            <br>
            <div class="btn-group " role="group ">
                <button class="btn btn-outline-primary mt-2 " (click)="agregarTags(selectedTag) ">agregar Tag</button>
                <button class="btn btn-outline-secondary mt-2 " (click)="quitarTags() ">Quitar tags</button>
            </div>
        </form>
    </div>
    <div class="btn-group btn-group-sm row " *ngIf="tags ">
        <button *ngFor="let tag of tags " class="btn btn-success ml-1 mt-1 ">{{tag}}</button>
    </div>
    <div class="form-group mt-2 ">
        <button type="submit " class="btn btn-primary " *ngIf="fg.valid"> Guardar datos!</button>
    </div>
</form>